
/**	op-module-tutorial:/content/tutorial.css
 *
 * @created    2025-07-31
 * @version    1.0
 * @package    op-module-tutorial
 * @author     Tomoaki Nagahara
 * @copyright  Tomoaki Nagahara All right reserved.
 */

pre, code {
	z-index: -1;
}

.markdown p {
	/* Reflects line breaks without <br/> */
	white-space: pre-wrap;
}

.no-wrap {
	white-space: nowrap;
}

.no-mark {
	list-style-type: none;
}

.menu.left {
	_border:  1px solid black;
	margin:  0.5em 0 0 0;
	padding: 0;
	list-style-type: none;
}

.menu.left li {
	_border:  1px solid black;
	margin:  0.1em 0.5em;
	padding: 0;
	white-space: nowrap;
}

.menu.left span.icon {
	margin-right: 0.2em;
}

/* git diff is stupid
a.button {
	padding: 0.5em 1em ;
	border: 1px solid var(--color-link);
	text-decoration: none;
	border-radius: 1em;
}
*/

span.button {
	padding: 0.5em 1em ;
	border: 1px solid var(--color-link);
	border-radius: 1.0em;
}

span.button a {
	text-decoration: none;
}

.markdown {
	max-width: 95%;
	overflow: scroll;
	_border: 1px solid black;
}

hr {
	width: 90%;
}

main h1 {
	padding: 0.25em;
	padding-left: 0.5rem;
	color: var(--color-h1);
	background-color: var(--color-h1-bg);
}

main h2 {
	border-bottom: 0.1em solid var(--color-border);
	padding-left: 0.5rem;
	padding-bottom: 0.25em;
}

main h1 code {
	border-width: 0;
	color: var(--color-h1);
	background-color: var(--color-h1-bg);
	margin: 0 0.25em;
	padding: 0;
	z-index: 1;
}

main p, 
main pre {
	padding-left: 0.5rem;
	line-height: 2.0em;
	_border: 1px solid black;
}

main li {
	margin: 0;
	line-height: 1.75em;
	_border: 1px solid black;
}

.yesno {
	_border: 1px solid black;
	margin-bottom: 2rem;
}

.yesno p {
	margin-bottom: 1.5em;
}

div.yes {
	margin: 2em 0;
}

:root {
	--color-h1:      #f0f0f0;
	--color-h1-bg:   #303030;
}

/* <?php if( OP()->Config('layout')['darkmode'] ?? null ): ?> */
@media (prefers-color-scheme: dark) {
	:root {
	--color-h1:      #f0f0f0;
	--color-h1-bg:   #303030;
	}
}
/* <?php endif; ?> */

#feedback {
	_border: 1px solid black;
	margin-left: 0.5em;
}

#feedback p {
	margin: 0.5em 0;
	padding: 0;
}

#feedback textarea {
	margin: 0.5em 0;
}
